* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Paperlogy", "Pretendard", sans-serif;
  font-size: 62.5%;
  background-color: #242424;
  color: #fff;
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 45%;
  }
}

body {
  font-size: 1.6rem;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
